@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject LoginService LoginService
@using BlazeUTS.Service
@using BlazeUTS.Models
using Microsoft.JSInterop;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/lukasharry28/Frontend-UAS.git" target="_blank">Github Program UAS</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isAuthorized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Ambil token dari localStorage setelah render pertama
            var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");

            if (!string.IsNullOrEmpty(token))
            {
                LoginService.SetAuthorizationHeader(token);
                isAuthorized = true;
            }
            else
            {
                isAuthorized = false;
                NavigationManager.NavigateTo("/login");
            }

            StateHasChanged(); // Memperbarui tampilan setelah status autentikasi diperiksa
        }
    }
}
